---
import { optimizeImagesInString } from "@/features/base/utilities";
const { content } = Astro.props;
const optimizedContent = optimizeImagesInString(content);
---

<section class="spaceY">
  <div class="container2 prose">
    <Fragment class="prose" set:html={optimizedContent} />
  </div>
</section>

<style>
  @reference "#global.css";
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-base-content;
  }
  p,
  li {
    @apply text-base-content/80;
  }
</style>
