---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  text: string;
  type?: "outline-nav" | "outline" | "primary";
}

const {
  type = "outline",
  text,
  class: classes,
  "class:list": classList,
  href = "#",
  ...props
} = Astro.props;
---

<a
  {...props}
  href={href}
  class:list={[
    "text-sm/none transition-[color,background-color] duration-300 uppercase",

    (type === "outline" || type === "outline-nav") &&
      "border border-black bg-transparent hover:border-secondary",

    type === "outline-nav" && "py-3 px-[18px]",

    type === "primary" && "bg-primary text-primary-content",

    (type === "outline" || type === "primary") && "py-3.5 px-[26px]",

    (type === "outline" || type === "outline-nav" || type === "primary") &&
      "hover:bg-secondary hover:text-white",
    classes,
    classList,
  ]}
>
  <span class="relative flip-text">
    <span
      data-text={text}
      class="transition-transform duration-300 origin-[50%_0] inline-block relative [transform-style:preserve-3d] before:absolute before:top-full before:left-0 before:w-full before:h-full before:origin-[50%_0] before:[transform:rotateX(-90deg)] before:content-[attr(data-text)]"
    >
      {text}
    </span>
  </span>
</a>

<style>
  a:hover .flip-text span {
    transform: rotateX(90deg);
  }
</style>
