---
import DefaultLayout from "@/features/layouts/DefaultLayout.astro";
---

<DefaultLayout title="404 Page Not found">
  <div class="h-[50vh]">
    <section class="flex flex-col justify-center items-center mt-20">
      <h1 class="text-xl font-medium text-center mb-3">
        Opss, the page you are trying to access is not found
      </h1>
      <a href="/" class="btn btn-primary">Back to Home Page</a>
    </section>
  </div>
</DefaultLayout>